.Redes{}

.Redes__title{
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.5vw;
}

.Redes__subcont{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.Redes__img{
  width: 2vw;
  transition: all 0.3s ease;
}

.Redes__img:hover{
  transform: scale(0.9);
}