.Excur-Item{
  padding: 50px;
  display: grid;
  color: #0367A6;
}

.E-Item__img__conteiner{
  overflow: hidden;
}

.E-Item__img{
  width: 540px;
  height: 350px;
  transition: transform 0.3s;

}

.E-Item__img:hover{
  transform: scale(1.1);
}

.Item__title{
  margin: 0;
  padding: 10px;
}

.Item__desc{
  margin: 0;
  padding: 10px;
  font-weight: 500;
}

.Item__type{
  margin: 0;
  padding: 10px;
  color: #63A5BF;
  font-weight: normal;
}