.Navbar{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 4vw;
  padding: 2vw;
  background-color: #E5F7F9;
  margin: 0 auto;
  width: 100%;
}

.Navbar__item {
  color: #03588C;
  font-weight: bold;
  font-size: 1vw;
  width: 100% / 4;
}


