.Img__background{
  width: 100vw;
  height: 30vw;
}

.Imagen__container{
  position: relative;
}

.Imagen__title{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 5vw;

}