.SlideList{
  background-color: #63A5BF;
  text-align: center;
  width: 100vw;
}

.SlideList__container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

.SlideList__container__arrow{
  width: 100px;
}

.DotsContainer{

}

.Dot{
  width: 30px;
}