.AboutUs{
  background-color: #E5F7F9;
  color: #03588C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
  align-items: center;
}

.AboutUs__info{
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.AboutUs__info__title{
  margin: 0;
  padding: 10px;
  font-size: 40px;
}

.AboutUs__info__text{
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

.AboutUs__img{
  width: 270px;
  padding: 30px;
  padding-left: 100px;
}