.AboutUs{
  background-color: white;
  color: #03588C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
  align-items: center;
  width: 100vw;
}

.AboutUs__info{
  padding: 5rem;
  padding-left: 3vw;
  padding-right: 3vw;
}

.AboutUs__info__title{
  margin: 0;
  padding: 1rem;
  font-size: 2.5vw;
}

.AboutUs__info__text{
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5vw;
}

.AboutUs__img{
  width: 30vw;
  padding: 3rem;
}